/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Times New Roman", Times, serif, Arial, sans-serif;
  font-size: 18px;
}
button {
  padding: 15px 25px;
  text-align: center;
  border-radius: 5px;

  color: black;
  background-color: #fdc800;
  font-weight: 700;
  border-color: #fdc800;

  transition: all 0.5s;
  cursor: pointer;
}
button:hover {
  background-color: white;
  color: black;
  border-color: #fdc800;
}
h2 {
  font-size: 2.2rem;
  font-weight: 700;
  padding-bottom: 20px;
}
.clear {
  clear: both;
}
/* HEADER */
.header {
  padding: 20px;
}
.container {
  width: 80%;
  margin: auto;
}
.header ul {
  list-style: none;
  margin-top: 10px;
  font-weight: 300;
}
.header ul a {
  color: black;
  text-decoration: none;
}
.header ul li {
  display: inline;
  margin-right: 1.4rem;
}
.logo {
  text-align: center;
  text-decoration: none;
  color: black;
}
.logo span {
  font-size: 2.5rem;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}
.logo i {
  display: inline-block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  vertical-align: super;

  border-radius: 50%;
  background-color: #002146;
  font-size: 20px;

  color: #fdc800;
  font-weight: 100;
}
/* CAROUSEL */
.carousel {
  background-image: url(../images/2.jpg);
  height: 700px;
  background-size: cover;
  background-position: top;
}
/* INTRO */
.intro {
  margin-bottom: 70px;
}
.intro__left,
.intro__right {
  float: left;
  width: 50%;
  padding: 0 20px;
}
.intro__left {
  font-size: 1.3rem;
}

.intro__left p {
  padding-bottom: 30px;
}

.intro__right img {
  width: 100%;
}
.intro__content {
  padding: 70px 10px;
  margin: auto;
  width: 80%;
}
/* NUMBER */
.number {
  background-color: #f6f6f6;
  margin: 0px 0;
}
.number .number__content {
  width: 80%;
  margin: auto;
  padding: 60px 0;
  margin-bottom: 50px;
}
.number .item__num {
  font-size: 70px;
  font-weight: 700;
  text-align: right;
  padding-right: 20px;
}
.number__item {
  float: left;
  width: 25%;
}

.number__item p {
  float: left;
  width: 50%;
}
.number__item .item__text {
  padding: 15px 0;
  line-height: 30px;
  overflow: hidden;
}
/* SERVICES */
.service {
  padding: 50px;
}
.service__content {
  margin: auto;
  width: 80%;
}
.service .service__content {
  background-color: white;
}
.service__content .service__column {
  float: left;
  width: 25%;
}
.service .column__item {
  border: 1px solid #002146;
  background-color: #002146;
  color: white;

  text-align: center;
  width: 250px;
  margin: 20px 10px 20px 20px;
  padding: 40px;
}

.column__item i {
  font-size: 40px;
  margin-bottom: 20px;
}
/* NEWS */
.news {
  padding: 70px 0;
  background-color: #f6f6f6;
  text-align: justify;
}
.news__content {
  margin: auto;
  width: 80%;
  padding: 20px;
}
.news__left,
.news__right {
  float: left;
  width: 50%;
}
.news__left img {
  width: 200px;
  float: left;
  margin: 20px;
  border-radius: 5px;
}
.news__post {
  background-color: white;
  margin: 20px 40px 20px 0;
  padding: 20px 20px 0;
}
.post__text .text__month {
  color: #9a9a9a;
  margin: 0 0 10px;
}
.news__events .events__item {
  background-color: white;
}
.events__text .text__item {
  color: #0c2b4f;
  padding: 20px;
}
.news__content h3 {
  padding: 10px 0;
}
.events__card {
  float: left;
  width: 30%;
  margin: 20px;
}
.events__item {
  margin: 20px 0;
  padding-right: 20px;
}
.post__item {
  border-bottom: 1px solid #f3f3f3;
}
.news__left .button {
  text-align: right;
  padding: 10px 40px;
}
.news__right .button {
  text-align: right;
  padding-top: 10px;
}
/* create card  */
.events__card {
  width: 18%;
  text-align: center;
}
.card__top {
  background-color: #fdc800;
  padding: 20px;
  border-radius: 10px 10px 0 0;
}
.card__bottom {
  background-color: #002146;
  padding: 10px 20px;
  border-radius: 0 0 10px 10px;
  color: white;
}
.card__num {
  font-weight: 700;
  font-size: 25px;
}
/* FOOTER */
.footer {
  background-color: #002146;
  color: white;
}
.footer__item a {
  color: white;
  text-decoration: none;
}
.footer__content .end {
  color: #aeb8c4;
}
.footer__content .copy {
  padding-top: 20px;
}
.footer__content {
  margin: auto;
  width: 80%;
  padding: 50px 0;
  line-height: 30px;
}
.content__items {
  border-bottom: 1px solid #363d45;
  padding-bottom: 20px;
}
.footer__item {
  float: left;
  width: calc(100% / 3);
}
.footer__content h3 {
  font-size: 25px;
  padding: 20px 0;
}
.item__icon i {
  color: #fdc800;
  font-size: 13px;
}
